node_modules
resources/files
resources/sidecar
extra
dist
out
.DS_Store
*.log*
.idea
*.ttf
.serena
.zed
*.tsbuildinfo
latest.yml
.env.vs
.vs/*
!.vs/launch.vs.json
!.vs/tasks.vs.json
*.njsproj.user
*.suo

# PyInstaller intermediates
.pyi-build/
